{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects and Tasks</title>
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
  </head>
  <body>
    <header>
      <nav>
        <form class="d-flex" role="search" action="{% url 'search-view' %}" method="POST">
          {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Search" name="search_query" required aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
          <a href="{% url 'home' %}">Home Page</a>

          {% if user.is_authenticated %}
            Hello, {{ user.username }}
            <ul>
            <li><a href={% url 'show_my_tasks' %}>My tasks</a></li>
            <li><a href={% url 'list_projects' %}>My Projects</a></li>
            <li><a href={% url 'logout' %}>Logout</a></li>

          {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Signup</a></li>
          {% endif %}
          </ul>
      </nav>
    </header>
    {% block content %}
    {% endblock content %}
  </body>
</html>
