{% extends 'base.html' %}

{% block content %}
<main>
    <div class="project-detail">
        <h1>{{ project.name }}</h1>
        <p>
            {{ project.description }}
        </p>
        <h2>Tasks</h2>
        <p><a href="{% url 'create_task' %}">Create a new task</a></p>
        <p><a href="{% url 'view_timeline' project.id %}">View Timeline</a></p>
        {% if project.tasks.all|length != 0 %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                    <th>Notes</th>
                </tr>
            </thead>
                <tbody>
                {% for task in project.tasks.all %}
                    <tr>
                      <td>{{ task.name }}</td>
                      <td>{{ task.assignee.username }}</td>
                      <td>{{ task.start_date }}</td>
                      <td>{{ task.due_date }}</td>
                      <td>{{ task.is_completed|yesno }}</td>
                      <td>{{ task.note }}</td>
                    </tr>
                {% endfor %}
                </tbody>
        </table>
        {% else %}
        <p>
            This project has no tasks
        </p>
        {% endif %}
    </div>
</main>
{% endblock content %}
