{% extends 'base.html' %}

{% block title %} You searched for {{query}} {% endblock title %}

{% block content %}

{% if query %}
<div class="container text-center my-5">
    <div class="row">
        {% if posts %}
        <h1 class="text-center">You searched for "{{query}}"</h1>
        {% for post in posts %}
            <div class="col-md-4 my-3">
                <div class="card" >
                    <div class="card-body">
                    <h5 class="card-title"><a href="#" class="text-decoration-none text-light">{{post.title}}</a></h5>
                    <h6 class="card-subtitle mb-2 muted">by {{post.author}}</h6>
                    <p class="card-text text-start">{{post.content|truncatechars:200}}</p>
                    <small class="card-link">{{ post.date_published|date:"Y-m-d" }}</small>
                    <a href="#" class="card-link">Read more</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <h3 class="text-center">No search results found for "{{query}}"</h3>
        {% endif %}
        {% if query %}
    <div>
        <div>
        <!-- check if there is a result in the database-->
        {% if posts %}
            <!-- loop through search query if there is a result -->
            {% for post in posts %}
                <div>
                    <!-- return search query -->
                    <a class="search_links" href="{% url "show_project" post.id %}">{{post.name}}</a>
                </div>
            {% endfor %}
            <!-- return a message if there are no results found. -->
        {% else %}
            <h3>No search results found</h3>
        {% endif %}
        </div>
    </div>
{% else %}
    <h1>Please enter a search query</h1>
{% endif %}
    </div>
</div>

{% else %}
<h1 class="text-center my-5">Please enter a search query</h1>
{% endif %}
{% endblock content %}
