{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="project-detail">
            <h1>{{ project.name }}</h1>
            {% if project.tasks.all|length != 0 %}
                {% autoescape off %}
                    {{ plot_div }}
                {% endautoescape %}
            {% else %}
                <p>This project has no timeline</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
